/* TYPOGRAPHY */

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.75em;
  background-color: #E23A5A;
  color: #EFEEE0;
}

h1 {
  font-family: 'Coustard', serif;
  font-size: 4em;
  line-height: 1em;
}


/* STRUCTURE */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container.full {
  width: 100vw;
  height: 100vh;
  flex-wrap: nowrap;
}

.container.info {
  width: 50vw;
  padding: 1rem;
}

.container.card-game {
  width: 50vw;
  height: auto;
}

.card {
  display: block;
  padding: 3em;
  margin: .5em;
  width: 15px;
  height: 15px;
  border: 2px solid #EFEEE0;
  border-radius: 1em;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}

.brown {
  background-color: brown;
}
