/* TYPOGRAPHY */

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.75em;
  font-size: 1.2em;
  background-color: #E23A5A;
  color: #EFEEE0;
}

h1, h2 {
  font-family: 'Coustard', serif;
}

h1 {
  font-family: 'Coustard', serif;
  font-size: 3.5em;
  line-height: 1em;
  text-shadow: -5px 5px 5px #D2352F;
}

button {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .1em;
  background-color: #EFEEE0;
  color: #E23A5A;
  padding: 1em 1.75em;
  border-radius: 1em;
  box-shadow: -5px 5px 5px #D2352F;
  margin: 5em 1em;
  cursor: pointer;
}


/* STRUCTURE */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container.full {
  width: 100vw;
  padding: 2rem;
  height: 100vh;
  flex-wrap: nowrap;
}

.container.info {
  width: 40%;
  max-width: 25rem;
  padding: 1rem;
}

.container.card-game {
  width: 50%;
  max-width: 600px;
  height: auto;
}

/* CARDS */

.card {
  display: block;
  padding: 2em;
  margin: .5em;
  width: 15px;
  height: 15px;
  border: 5px solid #EFEEE0;
  border-radius: 1em;
  box-shadow: -5px 5px 5px #D2352F;
  cursor: pointer;
}

.card.unselected {
  background-color: #EFEEE0;
  color: #E23A5A;
}

.card h2 {
  text-align: center;
  margin: 0 auto;
}

/* CARDS when clicked */

.red {
  background-color: #E53022;
  color: #E53022;
}

.orange {
  background-color: #E28E3A;
  color: #E28E3A;
}

.yellow {
  background-color: #F1D36D;
  color: #F1D36D;
}

.green {
  background-color: #4C9E7A;
  color: #4C9E7A;
}

.blue {
  background-color: #2E667F;
  color: #2E667F;
}

.purple {
  background-color: #86367A;
  color: #86367A;
}

.black {
  background-color: #1A222D;
  color: #1A222D;
}

.brown {
  background-color: #863129;
  color: #863129;
}

.matched {
  border: 5px dotted #EFEEE0;
  color: #E23A5A;
}

.mismatch {
  color: #EFEEE0;
}
